//- Все примеси в этом файле должны начинаться c имени блока (marketplace)

mixin marketplace()
  -
    const persons = [
      {
        name: "Main character",
        type: "Man",
        icon: "hat.svg",
        imgName: "man",
        description: ["At the start of adventure, using the move-to-earn model, you can gain strength, collect resources such as wood, resin and ore.", "Using main character you can build a ship, assemble a crew, defeat bosses, collect treasures and enjoy other game features."]
      },
      {
        name: "Main character",
        type: "Woman",
        icon: "hat.svg",
        imgName: "woman",
        description: ["At the start of adventure, using the move-to-earn model, you can gain strength, collect resources such as wood, resin and ore.", "Using main character you can build a ship, assemble a crew, defeat bosses, collect treasures and enjoy other game features."]
      },
      {
        name: "Support pet",
        type: "Monkey",
        icon: "monkey.svg",
        imgName: "monkey",
        description: ["At the start of adventure, using the move-to-earn model, you can gain strength, collect resources such as wood, resin and ore.", "Using main character you can build a ship, assemble a crew, defeat bosses, collect treasures and enjoy other game features."]
      },
      {
        name: "Support pet",
        type: "Parrot",
        icon: "parrot.svg",
        imgName: "parrot",
        description: ["Helps in searching for boxes and in mining resources"]
      },
      {
        name: "Raid boss",
        type: "Skeleton",
        icon: "raid-boss.svg",
        imgName: "skeleton",
        description: ["Information about the Skeleton boss"]
      },
      {
        name: "Raid boss",
        type: "Treasure hunter",
        icon: "raid-boss.svg",
        imgName: "treasure-hunter",
        description: ["The most valuable treasures are under the protection of raid bosses.", "To defeat the bosses users need a ship and a large team.", "You can buy a raid boss, develop it and receive income from unsuccessful attempts to attack"]
      },
    ]

  .marketplace.gl-border-block#marketplace
    .css-background-wrapper
      img(src="img/marketplace/background.jpg", loading="lazy", alt="background").css-background

    .gl-page-content
      .marketplace__content
        .marketplace__header-wrapper
          .marketplace__title Marketplace
          .marketplace__subtitle Coming soon

        .marketplace__info-container
          each item, index in persons
            .marketplace__info-wrapper(class=index === 0 && "active", data-name=item.imgName)
              .marketplace__panel.gl-fl-hide
                .css-background-wrapper
                  img(src="img/marketplace/panel.svg", loading="lazy", alt="btn").css-background

                .marketplace__panel-content
                  .marketplace__name-wrapper
                    img(src=`img/icons/${ item.icon }`).marketplace__panel-icon
                    div
                      .marketplace__panel-title= item.name
                      .marketplace__panel-subtitle= item.type
                  button(type="submit").marketplace__panel-btn Soon on Marketplace
                    .css-background-wrapper
                      img(src="img/marketplace/btn.svg", loading="lazy", alt="btn").css-background

              img(src=`img/marketplace/persons/${ item.imgName }-full.png`).marketplace__percon-img

              .marketplace__description.gl-fl-hide
                each textItem in item.description
                  p.marketplace__description-item= textItem


        .marketplace__swiper-container
          .marketplace__swiper.swiper.gl-swiper.swiper-container#js-swiper-container
            .gl-swiper__swiper-wrapper.swiper-wrapper
              each item, index in persons
                img(src=`img/marketplace/persons/${ item.imgName }.png`, data-tab=item.imgName).marketplace__slide.swiper-slide.js-swiper-slide

          .marketplace__swiper-btns-wrapper
            button.gl-swiper__btn-nav.gl-swiper__btn-nav--prev#js-btn-prev
            button.gl-swiper__btn-nav.gl-swiper__btn-nav--next#js-btn-next

        .marketplace__panel-wrapper.gl-fl-show
          each item, index in persons
            .marketplace__panel.marketplace__panel--mobile(class=index === 0 && "active", data-name=item.imgName)
              .css-background-wrapper
                img(src="img/marketplace/panel.svg", loading="lazy", alt="btn").css-background.gl-fl-hide
                img(src="img/marketplace/panel-mb.svg", loading="lazy", alt="btn").css-background.gl-fl-show

              .marketplace__panel-content
                .marketplace__name-wrapper
                  img(src=`img/icons/${ item.icon }`).marketplace__panel-icon
                  div
                    .marketplace__panel-title= item.name
                    .marketplace__panel-subtitle= item.type
                .marketplace__description
                  each textItem in item.description
                    p.marketplace__description-item= textItem
                button(type="submit").marketplace__panel-btn Soon on Marketplace
                  .css-background-wrapper
                    img(src="img/marketplace/btn.svg", loading="lazy", alt="btn").css-background.gl-fl-hide
                    img(src="img/marketplace/btn-mb.svg", loading="lazy", alt="btn").css-background.gl-fl-show
