//- Все примеси в этом файле должны начинаться c имени блока (game-mechanics)

mixin game-mechanics()
  -
    const slider = [
      {
        caption: "Move to earn",
        value: "You can get chests for steps. In the chests you can find items of equipment and coins. Rewards are updated every day.",
      },
      {
        caption: "Collect to earn",
        value: "The map is full of resources. You can collect them, sell to other players or use to create new items.",
      },
      {
        caption: "Craft",
        value: "To collect valuable resources, you will need tools.",
      },
      {
        caption: "Hunt",
        value: "Some treasures are guarded by monsters. The higher the level of the monster, the more valuable reward you can get.",
      },
    ];

  .game-mechanics.gl-block-shadows#game-mechanics
    .gl-border-block.game-mechanics__page-content.gl-page-content.gl-page-content--big
      .game-mechanics__title.gl-title.gl-title--center Game mechanics
      .game-mechanics__swiper.swiper.gl-swiper.gl-swiper--with-pagination.swiper-container#js-swiper-container
        .game-mechanics__swiper-wrapper.gl-swiper__swiper-wrapper.swiper-wrapper
          each item, index in slider
            .game-mechanics__slide.swiper-slide.js-swiper-slide
              .game-mechanics__slide-content
                img(src=`img/game-mechanics/mechanics-${index+1}.png`, loading="lazy", alt=item.caption).game-mechanics__slide-img.gl-fl-hide
                img(src=`img/game-mechanics/mechanics-laptop-${index+1}.png`, loading="lazy", alt=item.caption).game-mechanics__slide-img.gl-fl-show.gl-mb-hide
                img(src=`img/game-mechanics/mechanics-mobile-${index+1}.png`, loading="lazy", alt=item.caption).game-mechanics__slide-img.gl-fl-show.gl-mb-show
                .game-mechanics__info
                  .game-mechanics__caption= item.caption
                  .game-mechanics__value= item.value

        .gl-hg-show.gl-swiper__pagination-wrapper
          .reviews-list__swiper-pagination.gl-swiper__pagination.swiper-pagination#js-pagination-slider
